body {
  background: blanchedalmond;
}

img {
  width: 75%;
  margin-top: 30px;
}

p {
  font-family: "Lora", serif;
  margin-top: 50px;
  font-size: 18px;
  color: #233142;
}

footer {
  font-family: "Lora", serif;
  background-color: blanchedalmond;
  padding: 20px;
  margin-top: 40px;
  text-align: center;
}

.top-half {
  background-color: blanchedalmond;
  padding-bottom: 50px;
  margin-bottom: 30px;
}

.navbar {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  background-color: blanchedalmond;
}

.navbar-light .navbar-brand {
  color: #233142;
  font-size: 26px;
}

.navbar-light .navbar-nav .nav-link {
  color: #233142;
}

.navbar-light .navbar-brand:hover {
  color: #f76b8a;
  text-transform: uppercase;
  font-weight: 700;
  transition: all 50ms ease-in-out;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #f76b8a;
  font-weight: 700;
  text-transform: uppercase;
  transition: all 50ms ease-in-out;
}

.social-links {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  position: fixed;
  bottom: 0px;
  right: 20px;
}

.icon {
  padding: 10px;
}

.fab,
.far {
  border: solid 1px #66bfbf;
  border-radius: 20px;
  margin: 5px;
  background-color: #66bfbf;
  color: #fcfefe;
}

.fab:hover {
  background-color: #3d8c8c;
}

.far:hover {
  background-color: #3d8c8c;
}

@media (max-width: 576px) {
  p {
    font-size: 12px;
    margin-top: 30px;
  }

  footer {
    font-size: 14px;
  }
  .top-half {
    padding-bottom: 0px;
  }
}
