body {
  background: blanchedalmond;
}

h1 {
  font-family: "Lora", serif;
  font-size: 100px;
  margin-bottom: 0px;
  color: #233142;
}

footer {
  font-family: "Lora", serif;
  background-color: blanchedalmond;
  padding: 20px;
  margin-top: 30px;
  text-align: center;
}

.top-half {
  background-color: blanchedalmond;
}

.heading {
  padding-top: 150px;
  margin-left: 50px;
}

.name {
  color: #f76b8a;
  font-size: 90px;
}

.sub-heading {
  font-family: "Source Sans Pro", sans-serif;
  margin-left: 50px;
  padding-bottom: 50px;
  font-weight: 300;
  font-size: 50px;
  color: #233142;
}

.navbar {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  background-color: blanchedalmond;
}

.navbar-light .navbar-brand {
  color: #233142;
  font-size: 26px;
}

.navbar-light .navbar-nav .nav-link {
  color: #233142;
}

.navbar-light .navbar-brand:hover {
  color: #f76b8a;
  text-transform: uppercase;
  font-weight: 700;
  transition: all 50ms ease-in-out;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #f76b8a;
  font-weight: 700;
  text-transform: uppercase;
  transition: all 50ms ease-in-out;
}

.social-links {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  position: fixed;
  bottom: 0px;
  right: 20px;
}

.icon {
  padding: 10px;
}

.fab,
.far {
  border: solid 1px #66bfbf;
  border-radius: 20px;
  margin: 5px;
  background-color: #66bfbf;
  color: #fcfefe;
}

.fab:hover {
  background-color: #3d8c8c;
}

.far:hover {
  background-color: #3d8c8c;
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 70px;
  }

  .name {
    font-size: 40px;
  }

  .sub-heading {
    padding-top: 10px;
    font-size: 30px;
  }
}
