/* body {
    background-image: url("/images/background.png");
} */

h1 {
  font-family: "Lora", serif;
  font-size: 100px;
  margin-bottom: 0px;
  color: #233142;
}

img {
  width: 100%;
  margin-top: 30px;
}

p {
  margin-top: 30px;
  font-size: 20px;
  line-height: 1.5;
}

.top-half {
  background-color: blanchedalmond;
  padding-bottom: 100px;
}

.heading {
  padding-top: 160px;
  margin-left: 50px;
}

.name {
  color: #f76b8a;
  font-size: 80px;
}

.sub-heading {
  font-family: "Source Sans Pro", sans-serif;
  margin-left: 50px;
  padding-bottom: 50px;
  font-weight: 300;
  font-size: 40px;
  color: #233142;
}

.type1 {
  display: inline-block;
}

.type2 {
  display: inline-block;
}

.navbar {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  background-color: blanchedalmond;
}

.navbar-light .navbar-brand {
  color: #233142;
  font-size: 26px;
}

.navbar-light .navbar-nav .nav-link {
  color: #233142;
}

.navbar-light .navbar-brand:hover {
  color: #f76b8a;
  text-transform: uppercase;
  font-weight: 700;
  transition: all 50ms ease-in-out;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #f76b8a;
  font-weight: 700;
  text-transform: uppercase;
  transition: all 50ms ease-in-out;
}

.social-links {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  position: fixed;
  bottom: 0px;
  right: 20px;
}

.icon {
  padding: 10px;
}

.fab,
.far {
  border: solid 1px #66bfbf;
  border-radius: 20px;
  margin: 5px;
  background-color: #66bfbf;
  color: #fcfefe;
}

.fab:hover {
  background-color: #3d8c8c;
}

.far:hover {
  background-color: #3d8c8c;
}

.type1 .typed-out {
  overflow: hidden;
  border-right: 1px solid black;
  white-space: nowrap;
  width: 0;
  animation: typing 2.5s steps(20, end) forwards;
  animation-delay: 0.5s;
}

.type2 .typed-out {
  overflow: hidden;
  border-right: 1px solid black;
  white-space: nowrap;
  width: 0;
  animation: typing 3s steps(40, end) forwards, 0.8s blinking step-end infinite;
  animation-delay: 3s;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes blinking {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}

@media (max-width: 576px) {
  h1 {
    font-size: 60px;
  }

  .name {
    font-size: 40px;
  }

  .top-half {
    padding-bottom: 0px;
  }

  .sub-heading {
    font-size: 16px;
  }

  .heading {
    padding-top: 100px;
    margin-left: 50px;
  }
}
