body {
  background-color: rgb(255, 235, 204);
}

footer {
  font-family: "Lora", serif;
  background-color: blanchedalmond;
  padding: 20px;
  margin-top: 40px;
  text-align: center;
  /* color: #f76b8a;
  font-weight: 700; */
}

.top-half {
  background-color: blanchedalmond;
  padding-bottom: 50px;
  margin-bottom: 30px;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: blanchedalmond;
  z-index: 1;
}

.navbar-light .navbar-brand {
  color: #233142;
  font-size: 26px;
}

.navbar-light .navbar-nav .nav-link {
  color: #233142;
}

.navbar-light .navbar-brand:hover {
  color: #f76b8a;
  text-transform: uppercase;
  font-weight: 700;
  transition: all 50ms ease-in-out;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #f76b8a;
  font-weight: 700;
  text-transform: uppercase;
  transition: all 50ms ease-in-out;
}

.social-links {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  position: fixed;
  bottom: 0px;
  right: 20px;
}

.icon {
  padding: 10px;
}

.fab,
.far {
  border: solid 1px #66bfbf;
  border-radius: 20px;
  margin: 5px;
  background-color: #66bfbf;
  color: #fcfefe;
}

.fab:hover {
  background-color: #3d8c8c;
}

.far:hover {
  background-color: #3d8c8c;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project button {
  background-color: #3383ff;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 7px 10px 7px 10px;
  font-size: 1.05rem;
  transition: all 0.2s ease-in-out;
}

/* #66A2FF #99C1FF */
.project {
  background-color: #ffd799;
  border: 1px solid black;
  border-radius: 40px;
  margin: 20px;
  padding: 10px;
  text-align: center;
  flex-basis: 300px;
  max-height: auto;
}

.project img {
  max-width: 100%;
}

.page-title {
  text-align: center;
  font-weight: bold;
  margin-bottom: 0px;
}

.project-description {
  padding: 20px 0px 0px 0px;
}

.project-title {
  padding: 10px 0px 10px 0px;
  font-weight: 500;
}

button:hover {
  cursor: pointer;
  background-color: #085ed6;
}

@media (max-width: 768px) {
  .project {
    flex-basis: 100%;
  }

  footer {
    margin-bottom: 40px;
  }
}
