/* body{
    background-color: blanchedalmond;
} */

img {
  max-width: 100%;
  height: auto;
}

footer {
  font-family: "Lora", serif;
  background-color: blanchedalmond;
  padding: 20px;
  margin-top: 40px;
  text-align: center;
}

.top-half {
  background-color: blanchedalmond;
  padding-bottom: 50px;
  margin-bottom: 30px;
}

.navbar {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  background-color: blanchedalmond;
}

.navbar-light .navbar-brand {
  color: #233142;
  font-size: 26px;
}

.navbar-light .navbar-nav .nav-link {
  color: #233142;
}

.navbar-light .navbar-brand:hover {
  color: #f76b8a;
  text-transform: uppercase;
  font-weight: 700;
  transition: all 50ms ease-in-out;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #f76b8a;
  font-weight: 700;
  text-transform: uppercase;
  transition: all 50ms ease-in-out;
}

.heading {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  font-family: "Lora", serif;
  font-size: 30px;
  font-weight: 700;
  color: #f76b8a;
}

.completed-projects {
  margin-bottom: 30px;
}

.project-container {
  border: solid 1px blanchedalmond;
  background: blanchedalmond;
  border-radius: 20px;
  display: block;
  margin-bottom: 20px;
}

.project-title {
  font-family: "Lora", serif;
  font-size: 20px;
  font-weight: 500;
  color: #233142;
  display: block;
  margin-top: 20px;
}

p.project-description {
  display: block;
  margin-top: 10px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
}

.fakipedia-logo {
  display: block;
  margin: 0 auto;
}

.project-links {
  border: solid 1px #f76b8a;
  background: #f76b8a;
  border-radius: 20px;
  padding: 15px;
  color: white;
  font-size: 16px;
  text-decoration: none;
}

.project-links:hover {
  border: solid 1px #f76b8a;
  background: white;
  color: #f76b8a;
  transition: all 50ms ease-in-out;
}

.social-links {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  position: fixed;
  bottom: 0px;
  right: 20px;
}

.icon {
  padding: 10px;
}

.fab,
.far {
  border: solid 1px #66bfbf;
  border-radius: 20px;
  margin: 5px;
  background-color: #66bfbf;
  color: #fcfefe;
}

.fab:hover {
  background-color: #3d8c8c;
}

.far:hover {
  background-color: #3d8c8c;
}
