/* body{
    background-color: rgb(255, 235, 204);
} */

img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}

footer {
  font-family: "Lora", serif;
  background-color: blanchedalmond;
  padding: 20px;
  margin-top: 40px;
  text-align: center;
  /* color: #f76b8a;
  font-weight: 700; */
}

a:hover {
  opacity: 0.8;
  transition: all 50ms ease-in-out;
}

.project-description {
  color: #233142;
  font-size: 16px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 90px;
  grid-row-gap: 30px;
  grid-auto-rows: min-content;
}

.grid-item {
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.project-title {
  margin: 5px 10px;
  font-family: "Lora", serif;
  font-size: 20px;
  font-weight: 700;
  color: #233142;
}

.top-half {
  background-color: blanchedalmond;
  padding-bottom: 50px;
  margin-bottom: 30px;
}

.navbar {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  background-color: blanchedalmond;
}

.navbar-light .navbar-brand {
  color: #233142;
  font-size: 26px;
}

.navbar-light .navbar-nav .nav-link {
  color: #233142;
}

.navbar-light .navbar-brand:hover {
  color: #f76b8a;
  text-transform: uppercase;
  font-weight: 700;
  transition: all 50ms ease-in-out;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #f76b8a;
  font-weight: 700;
  text-transform: uppercase;
  transition: all 50ms ease-in-out;
}

.heading {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  font-family: "Lora", serif;
  font-size: 40px;
  font-weight: 700;
  color: #f76b8a;
}

.completed-projects {
  margin: 0px 20px;
}

.upcoming-projects {
  margin: 0px 20px;
}

.social-links {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  position: fixed;
  bottom: 0px;
  right: 20px;
}

.icon {
  padding: 10px;
}

.fab,
.far {
  border: solid 1px #66bfbf;
  border-radius: 20px;
  margin: 5px;
  background-color: #66bfbf;
  color: #fcfefe;
}

.fab:hover {
  background-color: #3d8c8c;
}

.far:hover {
  background-color: #3d8c8c;
}
